	
	/* FLIKAR */
		.ui-widget                  { font-size: 10pt !important; }
		.ui-widget .ui-accordion-content 		{ padding: 10px; }
		.ui-tooltip 			{ padding:0; }	/* Fix för qTip */

    /* FORMULÄRET MED FIELDSET */
        #rcc-form           				{ min-width: 980px; max-width: 1080px; margin: auto; font-size: 90%; font-family: arial;  min-height: 80em;}
        #rcc-form .rcc-float-left 		{width: 50%; float: left; border: 0px solid black;}
        #rcc-form .rcc-float-right 		{width: 50%; float: right; border: 0px solid black;}
        #rcc-form .tab-container 			{float:left; width: 100%;}

        #rcc-form fieldset 					{ margin-top: 1.5em; padding: 10px;}
        #rcc-form fieldset legend 			{ font-size: 100%; font-weight: bold; color: rgb(0,0,0);}
        #rcc-form fieldset legend.right 	{ font-size: 100%; font-weight: normal; color: rgb(0,0,0); text-align: right;}
        #rcc-form .rcc-title 				{ font-size: 150%; padding:5px; }
        #rcc-form .rcc-invalid 				{ background: #faa; }
        #rcc-form .rcc-included				{ border: 1px solid #F1D031;}
        #rcc-form .rcc-error 				{ color: #f00; }
        #rcc-form .rcc-warning 				{ color: #e70; }
		
        #rcc-form .tabWarning 				{ color: darkorange; font-weight: bold; }
        #rcc-form .tabError	 				{ color: red; font-weight: bold; }

        #rcc-form ul.content				{border:0; margin:0; padding:5px; list-style:none;}
        #rcc-form ul.content li				{clear:both; list-style:none; padding:2px;}
        #rcc-form ul.content span			{vertical-align:middle; display:inline-block;}
        #rcc-form select					{vertical-align:middle; display:inline-block;}
        #rcc-form input						{vertical-align:middle; display:inline-block;}

        #rcc-form .rcc-add-button					{padding-bottom:10px;}
        #rcc-form .rcc-delete-button				{padding-top:10px; float: right;}
        #rcc-form .rcc-small-delete-button .ui-button-text
		{
            vertical-align:middle; display:inline-block;
            padding: 0px 11px 0px 21px !important;
            font-size: .7em !important;
        }
		#rcc-form .rcc-small-zoom-button
		{
			vertical-align: text-top;
			margin-left: 5%;
			float: left;
		}
		#rcc-form .rcc-small-zoom-button .ui-button-text
		{
            vertical-align:middle; display:inline-block;
            /*padding: 0px 11px 0px 22px !important;*/
            font-size: .75em !important;
            font-weight: bold;
        }
        #rcc-form .rcc-set-button .ui-button-text
		{
            vertical-align:middle; display:inline-block;
            font-size: .8em !important;
        }

        #rcc-form .rcc-date					{width:85px;}
        #rcc-form .rcc-year					{width:35px;}
        #rcc-form .rcc-w005					{width:5px;}
        #rcc-form .rcc-w025					{width:25px;}
        #rcc-form .rcc-w050					{width:50px;}
        #rcc-form .rcc-w055					{width:55px;}
        #rcc-form .rcc-w065					{width:65px;}
        #rcc-form .rcc-w075					{width:75px;}
        #rcc-form .rcc-w100					{width:100px;}
        #rcc-form .rcc-w125					{width:125px;}
        #rcc-form .rcc-w150					{width:150px;}
        #rcc-form .rcc-w175					{width:175px;}
        #rcc-form .rcc-w200					{width:200px;}
        #rcc-form .rcc-w225					{width:225px;}
        #rcc-form .rcc-w250					{width:250px;}
        #rcc-form .rcc-w265					{width:265px;}
        #rcc-form .rcc-w300					{width:300px;}
        #rcc-form .rcc-w350					{width:350px;}
        #rcc-form .rcc-w400					{width:400px;}
        #rcc-form .rcc-w450					{width:450px;}
        #rcc-form .rcc-w500					{width:500px;}
        #rcc-form .rcc-w700					{width:700px;}
        #rcc-form .rcc-w800					{width:800px;}
        #rcc-form .rcc-w850					{float:right}
        #rcc-form .rcc-auto					{width:auto;}

		#rcc-form .rcc-m020					{margin-left: 20px;}
		
        #rcc-form .rcc-indented				{padding-left: 20px;}
        #rcc-form .rcc-indentedm			{margin-left: 20px;}
        #rcc-form .rcc-large				{font-size: 110%;}
        #rcc-form .rcc-small				{font-size: 75%;}
        #rcc-form .rcc-right				{text-align: right;}
        #rcc-form .rcc-center				{text-align: center;}
        #rcc-form .rcc-bold					{font-weight: bold;}
        #rcc-form .rcc-italic				{font-style: italic;}
        #rcc-form .rcc-top					{vertical-align: top;}

        #rcc-form .rcc-link					{font-weight: bold;}
        #rcc-form .rcc-blue					{color: rgb(63,72,204)}
        #rcc-form .rcc-green				{color: rgb(46,139,87)}
        #rcc-form .rcc-red					{color: rgb(255,0,0)}

        #rcc-form .rcc-delete				{color: rgb(63,72,204); cursor: pointer;}
        #rcc-form .rcc-info					{color: rgb(63,72,204); cursor: pointer;}
		
		.rcc-help:hover {
			color: #00adf2;
			text-decoration: none;
			cursor: help;
		}
		
		.rcc-help-icon { vertical-align: bottom; }
		.rcc-zoom-icon { vertical-align: middle; }
		
		#rcc-form #grafhead				{ font-size: 85%; }
		#rcc-form #PSA-help				{ margin-left: 7%; float:left; font-weight: bold; padding-top: 4px; }
        #rcc-form #zoom-help				{ margin-left: 3%; float:left; font-weight: bold; padding-top: 4px; }
        #rcc-form #PSA-log-lin			{ margin-left: 46%; clear: right; height: 25px; font-size: 110%; display: block; vertical-align: center; padding-top: 4px; }
		
        #rcc-form .rcc-scaletype				{font-size: 85%;}
        #rcc-form .rcc-scaletype input			{margin-top: 0; vertical-align: text-bottom;}
		
		.hiding 						{ visibility: hidden; }
		.blocked					{display:block;}
		
		.floatl					{float: left;}
		.floatr					{float: right;}
		
		.alignr					{text-align: right;}
		.alignc					{text-align: center;}
		
		#rcc-header					{ display: inline-block; width: 100%; vertical-align:middle; line-height: normal; padding: 2.5em 0 1.5em 1.5em; }
		
		.userImg					{ top: 0; font-size: 700%; padding-right: 0.2em; color: #909090; }
		
		.heading					{ font-size: 150%; }
		.subheading					{ font-size: 120%; margin-left: 0.75em; }
		.grayish					{ color: #636363; }
		.whiteish					{ color: #9f9f9f; }
		
		.alertbox					{ font-size: 100%; font-weight: bold; padding: 4px 6px 3px 6px; margin-top: 1px; display: inline-block; border-radius: 3px; }
		
		.dateofd					{ color: #dfdfdf; background: #bf3d2d; }
		
		.osparad					{ background: #cdcdcd; }
		
		.paddL					{ padding-left: 2em; }
		
		.halfW					{ width: 47.5%; display: inline-block; }
		.thirdW					{ width: 27.5%; display: inline-block; margin-right: 1.75%; }
		
		.expanded td					{padding: 6px 3px;}
		.expanded tr td:first-child	{padding-right: 0;}
		.expanded tr td:last-child	{padding-left: 0;}
		
		.rcc-dialog th { vertical-align: bottom; text-align: left; }
        .rcc-dialog { font-size: 80%; }

		#rcc-form fieldset.light {
			border:1px solid #aaa;
			padding-left: 12px;
		}
		
        #rcc-form fieldset.collapsefieldset, fieldset.collapsefieldset.expanded{
            border:1px solid #aaa;
        }

        #rcc-form fieldset.collapsefieldset.collapsed{
            border:0;
            border-top:1px solid #aaa;
        }

        #rcc-form fieldset.collapsefieldset > legend{
            padding-left:5px;
            font-weight:bold;
            cursor:pointer;
        }

        #rcc-form input[type=number]::-webkit-inner-spin-button,
        #rcc-form input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }