html {
    height: 100%;
    overflow-y: scroll;
}

body {
	font-size: 1.33em;
}

.form-group {
	margin-bottom: 5px;
}

.form-group div p {
	padding-top: 4px;
}

.form-control[disabled] {
	background-color: #f4f4f4;
	border: 1px solid #dfdfdf;
}

.input-group-addon {
	padding: 5px 12px;
}

label.btn > input[type='radio'] {
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 0;
  margin: 0;
  position: absolute;
}

input[type=text].form-control {
	height: 28px;
	padding: 3px 8px;
}

select.form-control {
	height: 28px;
	padding: 3px 8px;
}

input[type=text].form-control.input-sm {
	height: 22px;
	padding: 2px 6px;
}

.panel-title {
	font-weight: bold;
}

.panel-heading.collapsable {
    cursor: pointer;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.popover {
  width: 400px;
}

 .bspacer {
   margin-bottom: 2%;
 }

 .alert-small {
   padding: 6px 16px;
 }

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

label {
	font-weight: inherit;
	padding-top: 4px;
	margin-bottom: 2px;
}

ul.rcc-content			{border:0; margin:0; padding:5px; list-style:none;}
ul.rcc-content li			{clear:both; list-style:none; padding:2px;}

.rcc-floatl {float: left;}
.rcc-floatr {float: right;}

.rcc-large		{font-size: 115%;}
.rcc-larger		{font-size: 133%;}
.rcc-small		{font-size: 90%;}
.rcc-smaller {font-size: 75%;}
.rcc-right		{text-align: right;}
.rcc-center		{text-align: center;}
.rcc-valbot {vertical-align: bottom;}
.rcc-valmid {vertical-align: middle;}
.rcc-valsup {vertical-align: super;}
.rcc-bold		{font-weight: bold;}
.rcc-italic		{font-style: italic;}
.rcc-blue		{color: rgb(63,72,204);}
.rcc-green		{color: rgb(46,139,87);}
.rcc-red		{color: #B90909;}
.rcc-error {color: #B90909;}
.rcc-errorpopover {color: #B90909; background: rgba(185, 9, 9, 0.3)}
.rcc-warning	{color: rgb(253,153,53);}
.rcc-warningB {
  border-color: rgb(253, 153, 153);
}
.rcc-warningBG {
  background-color: rgb(253, 153, 153);
}
.rcc-invalid 	{
  border-color: #B90909;
  background-color: rgb(255, 190, 190);
}
.rcc-invalid:focus 	{
	border-color: #B90909;
  background-color: rgb(255, 190, 190);
	-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075), 0 0 6px #B40404;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075), 0 0 6px #B40404;
}
.rcc-included		{border-color: rgb(63,72,204);}
.rcc-included:focus 	{
	border-color: rgb(63,72,204);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px rgb(52,64,192);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px rgb(52,64,192);
}

.rcc-include-icon { color: #a9a9a9; }

.rcc-included-icon { color: rgb(63,72,204); }

.paddl {padding-left: 20px;}

.rcc-icon {cursor: pointer;}

.inline-table {display: inline-table;}

.rcc-i010		{padding-left: 10px;}
.rcc-i015		{padding-left: 15px;}
.rcc-i020		{padding-left: 20px;}
.rcc-i025		{ padding-left:25px; }
.rcc-i030		{ padding-left:30px; }
.rcc-i040		{ padding-left:40px; }
.rcc-i050		{ padding-left:50px; }
.rcc-i075		{ padding-left:75px; }

.rcc-m010		{ margin-left:10px; }
.rcc-m020		{ margin-left:20px; }
.rcc-m025		{ margin-left:25px; }
.rcc-m030		{ margin-left:30px; }
.rcc-m040		{ margin-left:40px; }

.rcc-w150 { display: inline-block; width: 150px; }
.rcc-w250 { display: inline-block; width: 250px; }

/*span.rcc-help.glyphicon {
  position: absolute;
  top: 8px;
  right: -8px;
}*/

.rcc-help:hover {
	color: #00adf2;
	text-decoration: none;
	cursor: help;
}

.hidden {
	visibility: hidden;
}

.no-show {
  display: none;
}

div.checkboxes-inline {
  display: inline-block;
}

#canceranm-popup-btn {
  float: right;
}

.error-row .errors {
  margin-bottom: 1em;
}

.warnings {
  margin-bottom: 1em;
}

.relative {
  position: relative;
}

.whiteish {
  background-color: #f9f9f9;
}

input[type=checkbox] + .include-icon-block {
  display: inline-block;
  position: relative;
  top: 0;
}

.include-icon-block {
  display: inline-block;
  position: absolute;
  top: 6px;
}

.inline-block {
  display: inline-block;
}
