<script type="text/html" id="rcc-label">
  <div class="col-xs-3" data-bind="css: customLabelStyle">
    <label data-bind="attr: { for: elementId },
                    text: label"></label>
  </div>
</script>

<script type="text/html" id="rcc-single-label">
  <div class="form-group">
    <div data-bind="css: $data.customLabelStyle ? customLabelStyle + ' ' : '' + $data.customLabelWidth ? customLabelWidth : '' ">
      <label data-bind="text: label, attr: { for: $data.elementId ? elementId : '' }"></label>
    </div>
  </div>
</script>

<script type="text/html" id="rcc-helper-label">
  <div class="col-xs-3" data-bind="css: customLabelStyle">
    <label data-bind="attr: { for: elementId },
                    rcc-helper: 'id',
                    text: label"></label>
  </div>
</script>

<script type="text/html" id="rcc-text-input">
  <!-- ko if: $data.addon -->
  <div class="form-group form-inline">
    <!-- ko if: $data.rccHelper -->
    <!-- ko template: { name: 'rcc-helper-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: !$data.rccHelper -->
    <!-- ko template: { name: 'rcc-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->

    <div class="col-xs-8">
      <div class='input-group inline-table' data-bind="css: $data.elementWidth ? elementWidth : ''">
        <input type="text" class="form-control relative" data-bind="rcc-value: value, valueUpdate: $data.valueUpdate, disable: $data.disabled, attr: { id: elementId, placeholder: $data.placeholder ? placeholder : '' }, rcc-helpMe: $data.rccHelper ? { pos: 'right', helpText: value.rcc.regvar.description } : '', rcc-warning: $data.rccWarning"
        />
        <span class="input-group-addon whiteish">
        <!-- ko if: addon.indexOf("glyphicon") !== -1 -->
          <span data-bind="css: addon"></span>
        <!-- /ko -->
        <!-- ko ifnot: addon.indexOf("glyphicon") !== -1 -->
          <span data-bind="text: addon"></span>
        <!-- /ko -->
        </span>
      </div>
    </div>
  </div>
  <!-- /ko -->

  <!-- ko if: !$data.addon -->
  <div class="form-group">
    <!-- ko if: $data.rccHelper -->
    <!-- ko template: { name: 'rcc-helper-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: !$data.rccHelper -->
    <!-- ko template: { name: 'rcc-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->

    <div class="col-xs-7" data-bind="css: $data.elementWidth ? elementWidth : ''">
      <input type="text" class="form-control inline-block relative" data-bind="rcc-value: value, valueUpdate: $data.valueUpdate, disable: $data.disabled, attr: { id: elementId, placeholder: $data.placeholder ? placeholder : '' }, rcc-helpMe: $data.rccHelper ? { pos: 'right', helpText: value.rcc.regvar.description } : '', rcc-warning: $data.rccWarning"
      />
    </div>
  </div>
  <!-- /ko -->
</script>

<script type="text/html" id="rcc-decimal-input">
  <!-- ko if: $data.addon -->
  <div class="form-group form-inline">
    <!-- ko if: $data.rccHelper -->
    <!-- ko template: { name: 'rcc-helper-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: !$data.rccHelper -->
    <!-- ko template: { name: 'rcc-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->

    <div class="col-xs-8">
      <div class='input-group inline-table' data-bind="css: $data.elementWidth ? elementWidth : ''">
        <input type="text" class="form-control relative" data-bind="rcc-decimal: value, precision: $data.decimals ? decimals : '', disable: $data.disabled, attr: { id: elementId, placeholder: $data.placeholder ? placeholder : '' }, rcc-helpMe: $data.rccHelper ? { pos: 'right', helpText: value.rcc.regvar.description } : '', rcc-warning: $data.rccWarning"
        />
        <span class="input-group-addon whiteish">
        <!-- ko if: addon.indexOf("glyphicon") !== -1 -->
          <span data-bind="css: addon"></span>
        <!-- /ko -->
        <!-- ko ifnot: addon.indexOf("glyphicon") !== -1 -->
        <span data-bind="text: addon"></span>
        <!-- /ko -->
        </span>
      </div>
    </div>
  </div>
  <!-- /ko -->

  <!-- ko if: !$data.addon -->
  <div class="form-group">
    <!-- ko if: $data.rccHelper -->
    <!-- ko template: { name: 'rcc-helper-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: !$data.rccHelper -->
    <!-- ko template: { name: 'rcc-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->

    <div class="col-xs-7" data-bind="css: $data.elementWidth ? elementWidth : ''">
      <input type="text" class="form-control inline-block relative" data-bind="rcc-decimal: value, precision: $data.decimals ? decimals : '', disable: $data.disabled, attr: { id: elementId, placeholder: $data.placeholder ? placeholder : '' }, rcc-helpMe: $data.rccHelper ? { pos: 'right', helpText: value.rcc.regvar.description } : '', rcc-warning: $data.rccWarning"
      />
    </div>
  </div>
  <!-- /ko -->
</script>

<script type="text/html" id="rcc-date-input">
  <div class="form-group form-inline">
    <!-- ko if: $data.rccHelper -->
    <!-- ko template: { name: 'rcc-helper-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: !$data.rccHelper -->
    <!-- ko template: { name: 'rcc-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->

    <div class="col-xs-8">
      <div class='input-group date inline-table col-xs-4 col-md-3' data-bind="datetimepicker: value">
        <input type="text" class="form-control relative" data-bind="rcc-date: value, disable: $data.disabled, attr: { id: elementId, placeholder: $data.placeholder ? placeholder : '' }, rcc-helpMe: $data.rccHelper ? { pos: 'right', helpText: value.rcc.regvar.description } : '', rcc-warning: $data.rccWarning"
        />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
</script>

<script type="text/html" id="rcc-select-input">
  <div class="form-group form-inline">
    <!-- ko if: $data.rccHelper -->
    <!-- ko template: { name: 'rcc-helper-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: !$data.rccHelper -->
    <!-- ko template: { name: 'rcc-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->

    <div class="col-xs-7">
      <select class="form-control relative" data-bind="rcc-list: value, disable: $data.disabled, attr: { id: elementId }, css: $data.elementWidth ? elementWidth : '', rcc-helpMe: $data.rccHelper ? { pos: 'right', helpText: value.rcc.regvar.description } : '', rcc-warning: $data.rccWarning"></select>
    </div>
  </div>
</script>

<script type="text/html" id="rcc-multiselect-input">
    <div class="form-group form-inline">
        <!-- ko if: $data.rccHelper -->
        <!-- ko template: { name: 'rcc-helper-label', data: { label: $data.label ? label : '', elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: !$data.rccHelper -->
        <!-- ko template: { name: 'rcc-label', data: { label: $data.label ? label : '', elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
        <!-- /ko -->
        <!-- /ko -->

        <div class="col-xs-7">
            <select class="form-control relative" multiple="multiple" data-bind="rcc-multiselect:{variables: $data.variables , validation: $data.validation ? validation : '' }, disable: $data.disabled ? disabled : '', attr: { id: elementId }, css: $data.elementWidth ? elementWidth : '', rcc-helpMe: $data.rccHelper ? { pos: 'right', helpText: $data.helpText ? helpText : '' }:'' , rcc-warning: $data.rccWarning "></select>
        </div>
    </div>
</script>

<script type="text/html" id="rcc-chosen-input">
    <div class="form-group">
        <!-- ko if: $data.rccHelper -->
        <!-- ko template: { name: 'rcc-helper-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: !$data.rccHelper -->
        <!-- ko template: { name: 'rcc-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
    <div class="form-group form-inline">
        <div class="col-xs-7">
            <select class="form-control relative" data-bind="rcc-var: value,
                                                    value: value,
                                                    options: list,
                                                    optionsCaption: $data.optionsCaption ? optionsCaption : '– Välj –',
                                                    optionsValue: $data.optionsValue ? optionsValue : 'label',
                                                    optionsText:  $data.optionsText ? optionsText : 'label',
                                                    style: {width: 'auto', display: 'inline-table'},
                                                    rcc-chosen: true, rcc-helpMe: $data.rccHelper ? { pos: 'right', helpText: value.rcc.regvar.description } : '', rcc-warning: $data.rccWarning,
                                                    disable: $data.disabled ? disabled : '', attr: { id: elementId }, css: $data.elementWidth ? elementWidth : ''"></select>
        </div>
    </div>
</script>

<script type="text/html" id="rcc-textarea-input">
  <div class="form-group">
    <!-- ko if: $data.rccHelper -->
    <!-- ko template: { name: 'rcc-helper-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: !$data.rccHelper -->
    <!-- ko template: { name: 'rcc-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
    <!-- /ko -->
    <!-- /ko -->

    <div class="col-xs-7" data-bind="css: $data.elementWidth ? elementWidth : ''">
      <textarea class="form-control inline-block relative" data-bind="rcc-value: value, disable: $data.disabled, attr: { id: elementId, placeholder: $data.placeholder ? placeholder : '' }, rcc-helpMe: $data.rccHelper ? { pos: 'right', helpText: value.rcc.regvar.description } : '', rcc-warning: $data.rccWarning"></textarea>
    </div>
  </div>
</script>

<script type="text/html" id="rcc-checked-input">
  <div class="form-group">
    <div class="form-group-row">
      <!-- ko if: $data.rccHelper -->
      <!-- ko template: { name: 'rcc-helper-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
      <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: !$data.rccHelper -->
      <!-- ko template: { name: 'rcc-label', data: { label: $data.label ? label : value.rcc.regvar.label, elementId: elementId, customLabelStyle: $data.customLabelStyle ? customLabelStyle : '' } } -->
      <!-- /ko -->
      <!-- /ko -->

      <div class="col-xs-8" data-bind="css: $data.elementWidth ? elementWidth : ''">
        <input type="checkbox" class="relative" data-bind="rcc-checked: value, disable: $data.disabled, attr: { id: elementId }, rcc-helpMe: $data.rccHelper ? { pos: 'right', helpText: value.rcc.regvar.description } : '', rcc-warning: $data.rccWarning" />
      </div>
    </div>
  </div>
</script>
