
			/*.ui-widget                  { font-size: 9pt !important; }
			.ui-dialog-title            { font-size: 0.75em !important; }
			.ui-tooltip 			{ padding:0; }	/* Fix för qTip */

			#rcc-content					{min-height: 800px; min-width: 800px; max-width: 1024px; margin: auto;}
			/*#rcc-form           			{font-size: 0.75em; font-family: Verdana, sans-serif; padding: 2.5em; position: relative; }*/
			#rcc-form ul.content			{border:0; margin:0; padding:0; padding-bottom:10px; list-style:none; display:inline-block;}
			#rcc-form ul.content li			{clear:both; list-style:none; padding:0; padding-bottom:4px;}
			#rcc-form ul.content select		{vertical-align:middle; display:inline-block;}

			.rcc-w040         			{width:40px; }
			.rcc-w050         			{width:50px; }
			.rcc-w075         			{width:75px; }
			.rcc-w100				{width:100px;}
			.rcc-w150				{width:150px;}
			.rcc-w200				{width:200px;}
			.rcc-w250				{width:250px;}
			.rcc-w300				{width:300px;}
			.rcc-w400				{width:400px;}

			.rcc-m010				{margin-left: 10px;}
			.rcc-m020				{margin-left: 20px;}

			.paddr					{ padding-right: 1em; }
			.paddl					{ padding-left: 1em; }
			.floatr					{ float: right; }
			.floatl					{ float: left; }
			.blocked				{ display: block; }
			.centered					{ margin: auto; }

			span.rcc-w100				{width:100px; display:inline-block; padding:0; padding-bottom:4px; margin: 2px 0;}
			span.rcc-w150				{width:150px; display:inline-block; padding:0; padding-bottom:4px; margin: 2px 0;}
			span.rcc-w200				{width:200px; display:inline-block; padding:0; padding-bottom:4px; margin: 2px 0;}
			span.rcc-w250				{width:250px; display:inline-block; padding:0; padding-bottom:4px; margin: 2px 0;}
			span.rcc-w300				{width:300px; display:inline-block; padding:0; padding-bottom:4px; margin: 2px 0;}
			span.rcc-w350				{width:350px; display:inline-block; padding:0; padding-bottom:4px; margin: 2px 0;}
			span.rcc-w400				{width:400px; display:inline-block; padding:0; padding-bottom:4px; margin: 2px 0;}
			span.rcc-w500				{width:500px; display:inline-block; padding:0; padding-bottom:4px; margin: 2px 20px; vertical-align: middle; }

			textarea					{ vertical-align: top; }

			button.marg			{margin: 5px 0;}

			.rcc-bold				{font-weight: bold;}
			.rcc-blue 			{color: #03adf2;}
			.rcc-center           { text-align: center; }
			.rcc-left             { padding-left: 10px; }
			.rcc-title            { padding-bottom: 10px; }
			.rcc-small            { font-size: 85%; }

			#rcc-form #maintitle 			{ width: 80%; min-width: 550px; padding: 3em 0 3em 0;}

			#resetFilter					{ float: right; margin: 0 3em 1.5em 0; }

			#pnrinput						{ display: inline-block; }

			.openOverview					{ width: 25px; margin: auto; }

			.inactive						{ background: #bfbfbf; border-color: #999; }
			.inactive:hover					{ background: #bfbfbf; border-color: #999; }
			.inactive:focus					{ background: #bfbfbf; border-color: #999; }
			.inactive:target				{ background: #bfbfbf; border-color: #999; }
			.inactive:active				{ background: #bfbfbf; border-color: #999; }

			.hidden							{ visibility: hidden; }

			.no-show						{ display: none; }

			/*.contentpage					{ padding-left: 250px; width: 65%; min-width: 535px; padding-top: 4.5em; }*/

			.searchbox						{ padding: 1em 0.25em; margin-left: 1em; }

			.submitbtn						{ padding: 5px 12px 5px 12px; margin: 0 0 2px 10px; }

			ul.pagecontent					{ border:0; margin:0; padding:0; padding-bottom:10px; list-style:none; display:block; }

			#pagecontent					{ padding: 1.75em 1.25em; }

			#rcc-form .heading				{ font-size: 150%; }

			#rcc-form #maintitle .heading	{ font-size: 220%; }

			#rcc-form ul.content li span		{ display: inline-block; }

			.formSelector {
				color: blue;
				text-decoration: underline;
				cursor: pointer;
			}
